body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:184px;
  top:150px;
  width:701px;
  height:181px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:0px;
  width:92px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:192px;
  top:0px;
  width:102px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:294px;
  top:0px;
  width:234px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:528px;
  top:0px;
  width:168px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:36px;
  width:92px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:192px;
  top:36px;
  width:102px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:294px;
  top:36px;
  width:234px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:34px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:230px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:528px;
  top:36px;
  width:168px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:70px;
  width:100px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:100px;
  top:70px;
  width:92px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:192px;
  top:70px;
  width:102px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:294px;
  top:70px;
  width:234px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:528px;
  top:70px;
  width:168px;
  height:36px;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:106px;
  width:100px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:106px;
  width:92px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:192px;
  top:106px;
  width:102px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:294px;
  top:106px;
  width:234px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:528px;
  top:106px;
  width:168px;
  height:35px;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:164px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:141px;
  width:100px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:100px;
  top:141px;
  width:92px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:192px;
  top:141px;
  width:102px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:294px;
  top:141px;
  width:234px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:35px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:528px;
  top:141px;
  width:168px;
  height:35px;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:164px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:88px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:88px;
}
#u54 {
  position:absolute;
  left:2px;
  top:36px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:113px;
  top:30px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:30px;
  top:18px;
  width:70px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:87px;
  width:174px;
  height:453px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:453px;
}
#u60 {
  position:absolute;
  left:2px;
  top:217px;
  width:170px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:306px;
  top:108px;
  width:79px;
  height:18px;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:384px;
  top:105px;
  width:126px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:530px;
  top:105px;
  width:80px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u65 {
  position:absolute;
  left:185px;
  top:105px;
  width:76px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u66 {
  position:absolute;
  left:714px;
  top:188px;
  width:46px;
  height:135px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:100px;
  top:580px;
  width:382px;
  height:98px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:98px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:227px;
  top:1136px;
  visibility:hidden;
}
#u69_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:290px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:290px;
}
#u71 {
  position:absolute;
  left:2px;
  top:137px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:51px;
  top:65px;
  width:85px;
  height:18px;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:79px;
  top:110px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:138px;
  top:110px;
  width:146px;
  height:75px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:75px;
}
#u79 {
  position:absolute;
  left:2px;
  top:30px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:306px;
  top:113px;
  width:100px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81 {
  position:absolute;
  left:136px;
  top:61px;
  width:198px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:224px;
  top:235px;
  width:100px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:344px;
  top:235px;
  width:100px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
