body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:40px;
  width:160px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:310px;
  width:160px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:470px;
  width:160px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:640px;
  width:160px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:677px;
  top:640px;
  width:160px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:413px;
  top:640px;
  width:160px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:310px;
  top:350px;
  width:447px;
  height:290px;
}
#u12_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:461px;
  height:20px;
}
#u12_seg1 {
  position:absolute;
  left:437px;
  top:-10px;
  width:20px;
  height:304px;
}
#u13 {
  position:absolute;
  left:318px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:310px;
  top:510px;
  width:183px;
  height:130px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:197px;
  height:20px;
}
#u14_seg1 {
  position:absolute;
  left:173px;
  top:-10px;
  width:20px;
  height:144px;
}
#u15 {
  position:absolute;
  left:106px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:230px;
  top:550px;
  width:0px;
  height:90px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:230px;
  top:120px;
  width:0px;
  height:50px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:230px;
  top:390px;
  width:0px;
  height:80px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:150px;
  top:170px;
  width:160px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:230px;
  top:250px;
  width:0px;
  height:60px;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:940px;
  top:640px;
  width:160px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:310px;
  top:210px;
  width:710px;
  height:430px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:724px;
  height:20px;
}
#u28_seg1 {
  position:absolute;
  left:700px;
  top:-10px;
  width:20px;
  height:444px;
}
#u29 {
  position:absolute;
  left:520px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:100px;
  top:786px;
  width:81px;
  height:98px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:98px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
